@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Shop with ease <a href="https://docs.microsoft.com/aspnet/core">get all your desired products at discount</a></p>
</div>
